BODY{
	background-color: #cccccc;
}

DIV.scaled, DIV.reference{
	background-color: #ffffff;
}

DIV.scaled{
	font-size: 30px;
}

IMG{
	width: 96px;
	height: 60px;	
}

PRE{
	background-color: #dddddd;
}