BODY{
	font-size: 12px;
	font-family: Verdana, Arial;
	background-color: #fff;
	color: #000;
}

H1 {
	font-size: 20px;
}
H2 {
	font-size: 18px;
}

H3 {
	font-size: 16px;
}

H4 {
	font-size: 14px;
}

PRE {
	margin: 4px;
	border-width: 1px;
	border-style: dotted;
	border-color: #aac;
	padding: 4px;
	background-color: #dde;
	color: #110;
}

CODE {
	font-family: Courier;
}

.info{
	margin: 4px;

	padding: 4px;
	border-width: 1px;
	border-style: dotted;
	border-color: #487;
	background-color: #dfe;

	text-align: center;
}