BODY, TABLE{
	font-family: courier;
	font-size: 10px;
	
	color: #6b8e23;
	background-color: #7fffd4;
}

H1{
	font-size: 29px;
}

H2 {
	font-size: 26px;
}

H3 {
	font-size: 23px;
}

H4 {
	font-size: 20px;
}

H5 {
	font-size: 17px;
}

H6 {
	font-size: 14px;
}
