/*
 This stylesheet styles a table with a black border and alternating light gray rows.
*/

.rocket-testing-webPageTestRunner-table {
	margin: 4px;
	width: 95%;
	border-color: #888;
	border-style: solid;
	border-width: 1px;

	border-collapse: collapse;

	font-family: Verdana;
	font-size: 10px;	
}

.rocket-testing-webPageTestRunner-table .oddRow {
	background-color: #eef;
	
	padding-top: 2px;
	padding-right: 1px;
	padding-bottom: 2px;
	padding-left: 1px;
	
	color: #223;
	font-weight: normal;
}
.rocket-testing-webPageTestRunner-table .evenRow {
	background-color: #ddf;

	padding-top: 2px;
	padding-right: 1px;
	padding-bottom: 2px;
	padding-left: 1px;

	color: #112;
	font-weight: normal;
}

.rocket-testing-webPageTestRunner-table .heading {
	background-color: #88f;
	
	padding-top: 2px;
	padding-right: 1px;
	padding-bottom: 2px;
	padding-left: 1px;
	
	color: #004;
	font-weight: bold;	
	font-size: 12px;
}